In [ ]:
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
df = pd.DataFrame(scores,
                  columns=['國文','英文','地理','人文','氣候'],
                  index=[f'stu{i}' for i in range(1,51)]
                  )
#抓一個欄位 資料是 series
df['國文']
df['英文']
#抓多個欄位 會組合成 dataframe
df[['英文','地理']]

In [ ]:
#loc 抓的是整個 index 是 series 會用 key 來呼叫
df.loc['stu1']
#組合成 dataframe
df.loc[['stu1','stu2']]

In [ ]:
sum = df['國文']+df['英文']+df['地理']+df['人文']+df['氣候']
df['總分'] = sum
mean = sum / 5
df['平均'] = mean
df

In [ ]:
#呼叫iloc時 大部分會做 slice 處理
df.iloc[-10:,:5]

       國文  英文  地理  人文  氣候
stu41  72  88  80  63  92
stu42  99  73  59  76  83
stu43  70  75  56  89  97
stu44  61  58  99  98  94
stu45  75  50  69  87  75
stu46  79  95  95  97  84
stu47  80  93  80  51  79
stu48  79  74  77  51  61
stu49  68  86  51  78  76
stu50  55  96  94  77  61