In [ ]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.arange(50,70))
s1

In [5]:
#透過數值的選取
#搜尋值
# mask的技巧,先使用比較運算子取得布林值
mask = s1 >= 60
s1[mask]

10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

In [7]:
s1[s1 < 60]

0    50
1    51
2    52
3    53
4    54
5    55
6    56
7    57
8    58
9    59
dtype: int64

In [8]:
#DataFrame
data = np.random.randint(50,101,size=(5,5))
df = pd.DataFrame(data,
                  index=['學生一','學生二','學生三','學生四','學生五'],
                  columns=['科目一','科目二','科目三','科目四','科目五'])
df

     科目一  科目二  科目三  科目四  科目五
學生一   60   53   54   86   77
學生二   73   72   63   50   90
學生三   77   78   99   50   79
學生四   96   53   95   81   52
學生五   80   69   91   64   96

In [10]:
#選取科目五 >= 60
df[df['科目五'] >= 60]

     科目一  科目二  科目三  科目四  科目五
學生一   60   53   54   86   77
學生二   73   72   63   50   90
學生三   77   78   99   50   79
學生五   80   69   91   64   96

In [21]:
#科目五 >= 60 同時科目二 >= 60
df[((df['科目五'] >= 60) & (df['科目二'] >= 60))]

     科目一  科目二  科目三  科目四  科目五
學生二   73   72   63   50   90
學生三   77   78   99   50   79
學生五   80   69   91   64   96