### dictionary

In [2]:
dict1 = {'one':1,'two':2,'three':3,'four':4,'five':5}
print(type(dict1))

<class 'dict'>

In [3]:
dict1['one']

1

In [5]:
dict1.get('one')
dict1.get('six')

In [6]:
for key in dict1.keys():
    print(key)

one
two
three
four
five

In [8]:
for value in dict1.values():
    print(value)

1
2
3
4
5

In [12]:
for key,value in dict1.items():
    print(key + ' ' + str(value))

one 1
two 2
three 3
four 4
five 5