In [2]:
from dataclasses import dataclass

@dataclass
class student:
    name:str
    chinese:int
    english:int
    math:int

In [4]:
stu1 = student(name='robert',chinese=89,english=78,math=92)
type(stu1)
(stu1.name,stu1.chinese,stu1.english,stu1.math)

('robert', 89, 78, 92)

In [5]:
stu2 = student(name='jenny',chinese=70,english=88,math=80)
type(stu2)
(stu2.name,stu2.chinese,stu2.english,stu2.math)

('jenny', 70, 88, 80)